@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Arima", system-ui;
    --fonte-texto: "Nunito", sans-serif;
    --cor-cabecalho: #006d77ff;
    --cor-2: #83c5beff;
    --cor-fonte1: #edf6f9ff;
    --cor-fundo: #ffddd2ff;
    --cor-5: #e29578ff;
    --cor-6: rgb(185, 124, 100);
    --cor-fonte2: #000000;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
}

header, footer{
    background-color: var(--cor-cabecalho);
    text-align: center;
    padding: 2em;
    color: var(--cor-fonte1);
}

header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}

.projetos{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao{
    text-align: center;
    background-color: var(--cor-5);
    width: 100%;
    margin: 1em 0;
    color: var(--cor-fonte2);
    padding: 1em 0;
    border-radius: 15px;
}

.cartao:hover{
    background-color: var(--cor-6);
    transition: 0.5s;
}

.cartao a{
    text-decoration: none;
    color: var(--cor-cabecalho);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: var(--cor-5);
}

.principal-numero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.numero-input{
    font-size: 1.5em;
    padding: 1em;
}

.numero-botao{
    margin-left: 1em;
    font-size: 1.5em;
    padding: 1em;
    background-color: var(--cor-5);
    color: var(--cor-fonte2);
    border-radius: 15px;
    border: none;
    font-family: var(--fonte-texto);
}

.numero-botao:hover{
    background-color: var(--cor-6);
    transition: 1s;
}